.card {
    width: 300px;
    height: 530px;
    background-color: rgb(211, 211, 211);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(95, 95, 95);
    
}

body {
    place-items: center;
    background-color: black;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

h1 {
    text-align: center;
    font-family: Arial;
}

main {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(151, 151, 151);
}

small {
    display: block;
    text-align: center;
    opacity: 30%;
}